.sidebarWrapper {
    width: 18%;
    height: 100vh;
    background: #272525;
}

.sidebarWrapper a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 24px;
    font-weight: light;
    border-left: 3px solid transparent;
    transition: 0.1s;
}

.sidebarWrapper a:hover {
    border-left: 3px solid #d4d4d4
}

.sidebarWrapper .logo {
    border-bottom: 1px solid transparent;
}